<template lang="pug">
  .hello.box {{ '00021301248989' | hello }}
</template>

<script>
  import {DeveloperConsole, Container, Finder} from '@/bootstrap'
  import { hello } from '@/mixins'
  export default {
    //mixins: [hello],

    mounted () {
      // //DeveloperConsole.logServices()
      // let cont = {width: 100}
      //
      // let container = Container(cont);
      // // console.log(container)
      // console.log(container.howManyFit(12));
      //
      // let array = [1,4,8,12,567,3,9];
      //
      // let finder = Finder(array);
      //
      // let whatFind = 8;
      // console.log(finder.findItem(whatFind))
    },
    // filters: {
    //   hello: function (value) {
    //     return 'Hello, ' + value.toString().toUpperCase()
    //   }
    // }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">

@import '../bootstrap/styles'

.hello
  +box(20px)

/*h1, h2*/
  /*font-weight: normal*/


/*ul*/
  /*list-style-type: none*/
  /*padding: 0*/

/*li*/
  /*display: inline-block*/
  /*margin: 0 10px*/

/*a*/
  /*color: #42b983*/

</style>
