<template lang="pug">

  .YandexRaion

    .YandexRaion-header

      .YandexRaion-logo 
        yandex-icon
        raion-icon
      .YandexRaion-notifications
      .YandexRaion-avatar

    .YandexRaion-sidebar

      .YandexRaion-newPost
        pencil-icon
        .YandexRaion-post Написать пост

      .YandexRaion-menu
        fire-icon
        .YandexRaion-item Обсуждают в городе
        house-icon
        .YandexRaion-item Мои районы
        people-icon
        .YandexRaion-item Мои подписъки
        target-icon
        .YandexRaion-item Рядом со мной

    .YandexRaion-content  

      .YandexRaion-district Заблокировано

      .YandexRaion-users
        .YandexRaion-avatars
        .YandexRaion-count 25212 соседей
        .YandexRaion-join присоединиться

      .YandexRaion-postsMenu
        all-icon
        .YandexRaion-item все
        posts-icon
        .YandexRaion-item посты
        ad-icon
        .YandexRaion-item объявления
        event-icon
        .YandexRaion-item события

      .YandexRaion-posts
        .YandexRaion-postsTabs
          .YandexRaion-tab интересное
          .YandexRaion-tab свежее
        .YandexRaion-post

          .YandexRaion-content
            .YandexRaion-options
            .YandexRaion-authorAvatar
            .YandexRaion-authorName Верёвка
            .YandexRaion-publicatedAt 09:38
            .YandexRaion-views 16000
            flag-icon
            .YandexRaion-body
            .YandexRaion-located Крыжовск
            comment-icon
            .YandexRaion-commentsCount
            .YandexRaion-bookmark
            like-icon
            .YandexRaion-like
            dislike-icon
            .YandexRaion-dislike

          .YandexRaion-comments
            .YandexRaion-viewAll

            .YandexRaion-comment Я оскорбился, удаляй!
              .YandexRaion-avatar
              .YandexRaion-content
                .YandexRaion-options
                .YandexRaion-name Серый
                .YandexRaion-publicatedAt 10:11
                comment-icon
                .YandexRaion-answer
                like-icon
                .YandexRaion-like
                dislike-icon
                .YandexRaion-dislike

            .YandexRaion-comment Полностью согласен.
              .YandexRaion-avatar
              .YandexRaion-content
                .YandexRaion-options
                .YandexRaion-name Кабачок
                .YandexRaion-publicatedAt 12:51
                comment-icon
                .YandexRaion-answer
                like-icon
                .YandexRaion-like
                dislike-icon
                .YandexRaion-dislike

            .YandexRaion-newComment
              .YandexRaion-avatar
              .YandexRaion-text



</template>

<script>

  import YandexIcon from '@/components/icons/Yandex'
  import RaionIcon from '@/components/icons/Raion'
  import UserIcon from '@/components/icons/User'
  import AdIcon from '@/components/icons/Ad'
  import AllIcon from '@/components/icons/All'
  import CommentIcon from '@/components/icons/Comment'
  import DislikeIcon from '@/components/icons/Dislike'
  import EventIcon from '@/components/icons/Event'
  import FlagIcon from '@/components/icons/Flag'
  import FireIcon from '@/components/icons/Fire'
  import HouseIcon from '@/components/icons/House'
  import LikeIcon from '@/components/icons/Like'
  import PencilIcon from '@/components/icons/Pencil'
  import PeopleIcon from '@/components/icons/People'
  import PlusIcon from '@/components/icons/Plus'
  import PostsIcon from '@/components/icons/Posts'
  import TargetIcon from '@/components/icons/Target'
  
  export default {

    mounted () {
      
    },

    components:{
      YandexIcon,
      RaionIcon,
      UserIcon,
      AdIcon,
      AllIcon,
      CommentIcon,
      DislikeIcon,
      EventIcon,
      FireIcon,
      FlagIcon,
      HouseIcon,
      LikeIcon,
      PencilIcon,
      PeopleIcon,
      PlusIcon,
      PostsIcon,
      TargetIcon,
      
    }

  }
</script>

<style scoped lang="sass">

@import '../bootstrap/styles'

.YandexRaion
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-rows: minmax(40px, auto)
    margin-left: 19em
    margin-right: 19em
   
    &-header
      grid-column: 1/4
    &-sidebar
    //background: gray
      grid-row: 2/4    
    &-item
     
    &-newPost
      padding-top: 0.75em
      background: gold
      text-align: center
      height: auto
      border-radius: 7px
    &-content
      grid-column: 2/4 
      //background: black
      display: grid
      grid-template-rows: 1fr 1fr 1fr 4fr
    &-district
      padding-top: 1em
      text-align: center
      font-size: 50px
    &-users
      padding-top: 0.5em
      text-align: center
    &-postsMenu
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
    &-postsTabs
      display: grid
      grid-template-columns: 1fr 1fr
      text-align: center



</style>
