<template>
<svg class="icon-event-type-offer event-types-navigation__item-icon event-types-navigation__item-icon_type_offer" width="28" height="28"><path d="M5 23V6c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v17a1 1 0 0 1-1.45.9l-1.54-.78-1.56.77a1 1 0 0 1-.9 0L16 23.12l-1.55.77a1 1 0 0 1-.9 0L12 23.12l-1.55.77a1 1 0 0 1-.9 0L8 23.12l-1.55.77A1 1 0 0 1 5 23zm4-7.1a1 1 0 0 0 1 1h3a1 1 0 1 0 0-2h-3a1 1 0 0 0-1 1zm0-3.63a1 1 0 0 0 1 1h8a1 1 0 0 0 0-2h-8a1 1 0 0 0-1 1zm0-3.63a1 1 0 0 0 1 1h8a1 1 0 0 0 0-2h-8a1 1 0 0 0-1 1z" fill="currentColor" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>