<template>
	<svg class="icon-event-type-all event-types-navigation__item-icon event-types-navigation__item-icon_type_all" width="28" height="28"><path d="M5 12.01A3 3 0 0 1 8 9h13a3 3 0 0 1 3 3.01v9.98A3 3 0 0 1 21 25H8a3 3 0 0 1-3-3.01v-9.98zM6.85 7.7a1.85 1.85 0 1 1 0-3.7 1.85 1.85 0 0 1 0 3.7zM10.63 5H22.6c.51 0 .93.42.93.93v.02a.93.93 0 0 1-.93.94H10.63a.93.93 0 0 1-.93-.94v-.02c0-.51.42-.93.93-.93z" fill="currentColor" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>