<template>
<svg width="30" height="30" class="icon-comment " viewBox="0 0 32 32"><path fill="currentColor" fill-rule="nonzero" d="M9.9 7H22c2 0 2.9.8 2.9 2.9V25l-3.1-3.9h-12c-2 0-2.9-.8-2.9-2.9V10C7 7.9 7.8 7 9.9 7z"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>