<template>
<svg width="30" height="30" class="icon-dislike reactions__icon" viewBox="0 0 32 32"><path fill="currentColor" fill-rule="nonzero" d="M7 19.8c-.1-1.2.6-1.7.6-2.2 0-.9-.8-1.8-.5-2.8.1-.6 1.3-1.1 1.7-1.4.5-.3.6-1 .6-1.6 0-1 1.1-1 1.7-2 .2-.4.3-1 1-1.6.6-.3 2.4-.2 4.5 0 3.7.2 7.2 2.3 9.6 2.3V19h-4.5c-.4 0-.6.5-1 1.4-.7 1.5-1.7 2.1-2.3 2.9l-1.3 2.3c-.4 1.2-.7 2.2-.9 3.6-.2 1.3-2 1-2.5-.5a6.8 6.8 0 0 1 0-4c.3-1.5.6-1.8.4-3H9.8c-1.7 0-2.6-.7-2.8-2z"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>