<template>
<svg class="icon-event-type-meeting event-types-navigation__item-icon event-types-navigation__item-icon_type_meeting" width="28" height="28"><path fill-rule="nonzero" fill="currentColor" d="M24 9v13c0 1.656-1.34 3-2.995 3H6.995A2.998 2.998 0 0 1 4 22V9c0-1.656 1.34-3 2.995-3L7 5c0-.552.444-1 1-1 .552 0 1 .444 1 1v1h2V5c0-.552.444-1 1-1 .552 0 1 .444 1 1v1h2V5c0-.552.444-1 1-1 .552 0 1 .444 1 1v1h2V5c0-.552.444-1 1-1 .552 0 1 .444 1 1v1c1.66 0 3 1.344 3 3zm-7.99 11.836c.502.264.986-.087.89-.646l-.36-2.095c.004.02 1.517-1.467 1.517-1.467.406-.395.222-.964-.34-1.045l-2.102-.306c.02.003-.927-1.896-.927-1.896-.251-.508-.849-.508-1.1 0l-.94 1.906c.01-.019-2.09.296-2.09.296-.56.081-.745.65-.34 1.045l1.523 1.483c-.015-.014-.365 2.079-.365 2.079-.096.558.388.91.89.646l1.88-.989c-.018.01 1.865.99 1.865.99zM9 10c0 .556.446 1 .995 1h8.01a1 1 0 0 0 0-2h-8.01A1 1 0 0 0 9 10z"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>