<template>
<svg class="icon-city-top aside-menu__icon-city-top" width="16" height="16"><path d="M14 9c0-1.6-.65-2.78-1.79-3.74-.33-.28-1.22-.9-1.3-.96C9.89 3.38 9.5 2.52 9.88.92A.75.75 0 0 0 8.82.08a5.97 5.97 0 0 0-3.27 5.95A3.36 3.36 0 0 1 5 4.44a.75.75 0 0 0-1.38-.32C2.42 6.02 2 7.16 2 9a5.98 5.98 0 0 0 6 6 5.97 5.97 0 0 0 6-6z" fill="currentColor" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>