<template>
<svg class="icon-favorite " width="32" height="32"><path fill="currentColor" fill-rule="nonzero" d="M9 9v16l7-5.4 7 5.4V9a2 2 0 0 0-2-2H11a2 2 0 0 0-2 2z"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>