<template>
<svg width="16" height="16" class="icon-districts aside-menu__icon-districts" viewBox="0 0 16 16"><path d="M9.83 13.33h3a.5.5 0 0 0 .5-.5V8h1.46a.5.5 0 0 0 .36-.85L8.35.35a.5.5 0 0 0-.7 0l-6.8 6.8a.5.5 0 0 0 .36.85h1.46v4.83c0 .28.22.5.5.5h3a.5.5 0 0 0 .5-.5v-3.5c0-.37.28-.66.66-.66h1.34c.36 0 .66.3.66.66v3.5c0 .28.23.5.5.5z" fill="currentColor" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>