<template>
<svg width="30" height="30" class="icon-like reactions__icon" viewBox="0 0 32 32"><path fill="currentColor" fill-rule="nonzero" d="M23.4 10.3c1.7 0 2.7.7 2.8 2 .2 1.1-.5 1.6-.5 2.1 0 .9.7 1.8.5 2.8-.2.6-1.4 1.1-1.8 1.4-.4.3-.5 1-.6 1.6 0 1-1 1-1.6 2-.3.4-.3 1-1 1.6-.6.3-2.5.2-4.5 0-3.8-.2-7.2-2.3-9.7-2.3V13h4.6c.4 0 .6-.5 1-1.4.6-1.5 1.6-2.1 2.2-2.9.6-.8 1-1.7 1.3-2.3.5-1.2.7-2.2 1-3.6.1-1.3 1.9-1 2.4.5.5 1.2.5 2.6.1 4-.4 1.5-.6 1.8-.5 3h4.3"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>