<template>
<svg class="icon-create" width="18" height="18" viewBox="0 0 18 18"><path fill="currentColor" fill-rule="evenodd" d="M0 14.3V18h3.8l11-11L11 3l-11 11zM17.7 4c.4-.3.4-1 0-1.4L15.4.3c-.4-.4-1-.4-1.4 0L12 2l4 4 1.7-2z"></path></svg> 
</template>

<script>
	export default {}
</script>

<style>
	
</style>