<template>
<svg class="icon-subscriptions aside-menu__icon-subscriptions" width="16" height="12"><path fill="currentColor" fill-rule="evenodd" d="M9.4 7.4a4.95 4.95 0 0 0-3.76-1.77c-2.56 0-4.69 2.04-5.1 4.7l-.04.4a.5.5 0 0 0 .5.54h14a.5.5 0 0 0 .5-.5v-.44A3.76 3.76 0 0 0 9.4 7.4zM5.63 4.7a2.35 2.35 0 1 1 0-4.7 2.35 2.35 0 0 1 0 4.7zm6.1.94a1.88 1.88 0 0 1 0-3.76 1.88 1.88 0 0 1 0 3.75z"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>