<template>
<path d="M5 10A5 5 0 1 1 5 0a5 5 0 0 1 0 10zm.65-4.42H8V4.42H5.65V2H4.34v2.42H2v1.16h2.34V8h1.31V5.58z" fill-rule="evenodd" fill="currentColor"></path>
</template>

<script>
	export default {}
</script>

<style>
	
</style>