<template>
	<a class="event-types-navigation__item event-types-navigation__item_type_news" href="/local/moscow/zyablikovo?type=news"><svg class="icon-event-type-news event-types-navigation__item-icon event-types-navigation__item-icon_type_news" width="28" height="28"><path d="M14 24.49a10.5 10.5 0 1 1 9.52-6.06l.92 4.4c.24 1.14-.48 1.87-1.62 1.62l-4.4-.93c-1.35.62-2.84.97-4.42.97zm0-8.92a1.57 1.57 0 1 0 0-3.15 1.57 1.57 0 0 0 0 3.15zm-4.2 0a1.57 1.57 0 1 0 0-3.15 1.57 1.57 0 0 0 0 3.15zm8.4 0a1.57 1.57 0 1 0 0-3.15 1.57 1.57 0 0 0 0 3.15z" fill="currentColor" fill-rule="nonzero"></path></svg></a>
</template>

<script>
	export default {}
</script>

<style>
	
</style>