<template>
	<svg width="56" height="29"><path fill="#000" fill-rule="nonzero" d="M3.42 16.04H1.95V25H.35V2.12h3.2c3.52 0 5.67 2.05 5.67 6.69 0 5.02-2.3 7.23-5.8 7.23zm.16-12.6H1.95v11.29h1.47c2.63 0 4.2-1.67 4.2-5.83 0-3.77-1.48-5.47-4.04-5.47zm11.3 20.66c1.5 0 2.56-1.44 3.14-3.16v-4.45h-1.73c-2.66 0-3.94 1.21-3.94 4.03 0 2.27 1 3.58 2.53 3.58zm3.58.9a9.63 9.63 0 0 1-.38-2.18c-.77 1.54-1.92 2.5-3.52 2.5-2.18 0-3.68-1.73-3.68-4.67 0-3.46 1.89-5.25 5.38-5.25h1.76v-2.02c0-2.46-.93-3.52-2.7-3.52-1.37 0-2.62.64-3.38 1.76l-.42-1.44a4.8 4.8 0 0 1 3.8-1.63c2.66 0 4.17 1.47 4.17 4.67v8.8c0 1.12.16 2.37.35 2.98h-1.38zM27.4 7.46c1.92 0 3.01-1.24 3.01-3.2h-1.31c0 1.48-.58 2.18-1.7 2.18-1.09 0-1.66-.7-1.66-2.18h-1.35c0 1.96 1.12 3.2 3.01 3.2zM30.34 25h1.44V8.87h-1.32L25.22 20.2c-.32.7-.64 1.4-.87 2.14h-.1c.07-.7.13-1.4.13-2.27V8.87h-1.4V25h1.28l5.24-11.36c.36-.7.64-1.38.87-2.08h.1c-.07.67-.13 1.38-.13 2.2V25zm9.05.32c-2.78 0-4.93-2.78-4.93-8.29 0-5.37 2.15-8.48 4.93-8.48 2.79 0 4.93 2.75 4.93 8.29 0 5.34-2.14 8.48-4.93 8.48zm0-1.22c1.89 0 3.43-2.3 3.43-7.16 0-5.06-1.54-7.14-3.43-7.14-1.89 0-3.42 2.24-3.42 7.14 0 5.02 1.53 7.16 3.42 7.16zm14.69.9h1.5V8.87h-1.5v7.14h-5.5V8.87h-1.5V25h1.5v-7.78h5.5V25z"></path></svg>
</template>
<script>
	export default {}
</script>
<style>
	
</style>