<template>
<svg class="icon-near aside-menu__icon-near" width="16" height="16"><path d="M5.35 12.2A5.9 5.9 0 0 1 2 6.9C2 3.65 4.69 1 8 1s6 2.64 6 5.9a5.9 5.9 0 0 1-3.35 5.3c-1.29.67-2.07 1.36-2.33 2.08a.34.34 0 0 1-.64 0c-.26-.72-1.04-1.41-2.33-2.08zM8 8.6a1.7 1.7 0 0 0 1.71-1.7A1.7 1.7 0 0 0 8 5.23c-.93 0-1.7.74-1.71 1.67 0 .93.76 1.68 1.71 1.68v.02z" fill="currentColor" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>