<template>
	<svg class="userpic__default" width="69" height="29" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><path d="M20.2 0a20 20 0 0 1 8.5 38c-2.3-1.4-4.9-2.5-4.9-2.5-2 .6-3.4.5-4.4.1-1-.4-1.8-1.4-2.2-2.9l-.2-1.5c0 .3.4 1.9 3.7 1.9C24.3 33 26 26 26 26c1.2 1.3 2.9-5.3 2.6-6-.3-.9-1.3 0-1.3 0 .8-1.3.5-5.7.5-5.7 1.2-1 1-2.2 1-2.2-1.3.2-2.5-.3-2.5-.3 1.3-.5 1.5-1.5 1.5-1.5-1.5.5-2.5.1-2.5.1 1.2-.4 1.2-2.1 1.2-2.1s-2.4.4-6.5.2-6 3.1-6 3.1c-.7-.4-1.4.6-1.2 1.8.5 2.6.2 6.7.2 6.7-2.5-1.5-1.1 4.6.2 6 1.4 1.3 2 .3 2 .3s.7 5-.2 8.7c-1.5 1-3.7 1.6-5.5 1.9A20 20 0 0 1 20.2 0z" fill="#f64740" fill-rule="nonzero"></path></svg>
</template>

<script>
	export default {}
</script>

<style>
	
</style>