<template>
	<svg width="69" height="29"><g fill="none" fill-rule="nonzero"><path fill="red" d="M9.44 16.23H7.39L3.5 25H.64l4.29-9.38c-2.02-1.02-3.36-2.88-3.36-6.3 0-4.8 3.04-7.2 6.65-7.2h3.68V25H9.44v-8.77zm0-2.05V4.2H8.13c-1.99 0-3.9 1.31-3.9 5.12 0 3.68 1.75 4.86 3.9 4.86h1.31z"></path><path fill="#000" d="M36.6 22.95v5.22h-2.23V25h-6.91v3.17h-2.24v-5.22h.99c1.47-3.42 1.63-8.41 1.63-12.7V8.87h7.49v14.08h1.28zm10.86.96a6.35 6.35 0 0 1-3.97 1.31c-3.33 0-5.38-2.65-5.38-7.61 0-5.19 1.44-8.96 4.87-8.96 2.68 0 4.44 2.01 4.44 7.49v1.37H40.7c0 3.65 1.03 5.57 3.01 5.57a5.6 5.6 0 0 0 3.17-1.09l.58 1.92zM21.3 8.87v6.85H17.6V8.87h-2.5V25h2.5v-7.23h3.71V25h2.47V8.87H21.3zM56.74 25h2.72l-4.58-8.54 4-7.59h-2.53l-3.87 7.46V8.87h-2.5V25h2.5v-8.03L56.74 25zm8.57.22c1.47 0 2.5-.48 3.36-1.21l-.57-1.86c-.58.51-1.5 1-2.72 1-2.02 0-2.98-2.31-2.98-6.34 0-4.07 1.28-6.08 3.07-6.08 1.03 0 1.99.54 2.66 1.12l.35-2.37a5.08 5.08 0 0 0-2.98-.83c-3.77 0-5.72 3.23-5.72 8.29 0 5.5 2.08 8.28 5.53 8.28zm-32.45-2.27V10.9h-2.78v.29c0 3.39-.16 8.35-1.5 11.77h4.28zM42.98 10.7c-1.54 0-2.08 1.88-2.24 4.76h4.12c0-2.75-.44-4.76-1.88-4.76z"></path></g></svg>
</template>
<script>
	export default {}
</script>
<style>
	
</style>